<form action="/registro" method="POST">

    <label>Nombre de la panadería:</label>
    <input type="text" name="nombre_panaderia" required>

    <br><br>

    <label>Nombre del encargado:</label>
    <input type="text" name="nombre_encargado" required>

    <br><br>

    <label>Correo:</label>
    <input type="email" name="correo" required>

    <br><br>

    <label>Dirección:</label>
    <input type="text" name="direccion" required>

    <br><br>

    <label>Contraseña:</label>
    <input type="password" name="password" required>

    <br><br>

    <button type="submit">Registrarme</button>

</form>